<!DOCTYPE html>
<meta charset="utf-8">
<html>
<link rel="stylesheet" href="css/catalog.css">
<link rel="stylesheet" href="css/common.css">
<script src="js/catalog.js"></script>

<head>
    <title>WinterHacks2021</title>
</head>

<body>
    <!-- <h1>This is the catalog page</h1>
    <div class="cardCont">
        <div class="card">
            <img src="/demoCard.png" alt="card1">
            <div class="cardDesc">
                <h4>Name: Christmas Tree</h4>
                <p>Price: $2.00</p>
            </div>
        </div>
    </div> -->

    <div>
        <% images.forEach(function(image) { %>
        <div>
            <div>
                <img src="data:image/png; base64, <%=image.card.data.toString('base64')%>">
            </div>
        </div>
        <% }) %>
    </div>

    <%- include('partials/footer') -%>
    
</body>

</html>