<!DOCTYPE html>
<meta charset="utf-8">
<html>

<head>
    <title>WinterHacks2021</title>
    <link rel="stylesheet" href="css/error.css">
    <link rel="stylesheet" href="css/common.css">
</head>

<body>
    
    <section class="page_404">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="col-sm-10 col-sm-offset-1  text-center">
                        <div class="four_zero_four_bg">
                            <h1 class="text-center ">404</h1>

                        </div>

                        <div class="contant_box_404">
                            <h3 class="h2">
                                Looks like you're lost
                            </h3>

                            <p>The page you are looking for not avaible!</p>

                            <a href="/login" class="link_404">Take me back!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') -%>

</body>

</html>