<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            /* background-image: url('Untitled.png') no-repeat center fixed;
            background-size: cover; */
            background: url('Login.png') no-repeat center fixed;
            background-size: cover;
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid #f1f1f1;
            width: 25%;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }

        input[type=text],
        input[type=password] {
            width: 100%;
            padding: 15px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            display: inline-block;
            margin: 5px;
            /* space between buttons */
            color: #333;
            /* text color */
            font-size: 1.5em;
            font-family: ‘Georgia’, serif;
            font-style: italic;
            border-radius: 50px;
            /* rounded corners */
            padding: 8px 16px;
            /* space around text */
            -moz-transition: all 0.2s;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
        }

        button:hover {
            background: #666;
            color: #c1e1e0;
        }

        .login {
            background-color: #04AA6D;
        }

        .signUp {
            background-color: #3268cc;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 16px;
            width: 80%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }

        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;
            }
        }
    </style>
</head>

<body>

    <form action="/action_page.php" method="post">
        <div class="imgcontainer">
            <img src="fb-avatar.jpg" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <input type="text" placeholder="Enter Username" name="uname" required>

            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit" , class="login">Login</button>
            <button type="submit" , class="signUp">Sign Up</button>
        </div>
    </form>

</body>

</html>