<!DOCTYPE html>
<meta charset="utf-8">
<html>

<head>
    <title>Beautiful Soup</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/common.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div class="middle">
        <h1 class="label">New Year Countdown
        </h1>
        <div class="time">
            <span>
                <div id="d">00</div>
                Days
            </span>
            <span>
                <div id="h">00</div>
                Hours
            </span>
            <span>
                <div id="m">00</div>
                Minutes
            </span>
            <span>
                <div id="s">00</div>
                Seconds
            </span>
        </div>
        <a href="/catalog">
            <button class="btn btn-border btn-round color-1" data-color="#426FC5">MORE</button>
        </a>
        <button class="btn btn-border btn-round color-1" data-color="#426FC5">Create Card</button>
    </div>

    <%- include('partials/footer') -%>

</body>
<script src="js/main.js"></script>

</html>