<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/register.css">

<head>
    <title>WinterHacks2021</title>
</head>

<body>
    <!-- need to add ajax to handle the response from sever -->
    <form id="myForm" action="/users" method="post">
        <div class="container">
            <input type="email" placeholder="Email" name="email" required>

            <input type="text" placeholder="User Name" name="name" required>

            <input type="password" placeholder="Password" name="password" required>

            <button>Register</button>
        </div>
    </form>
    <script src="js/register.js"></script>
</body>

</html>