@import url("https://fonts.googleapis.com/css?family=Aleo");

footer {
    font-family: "Aleo", sans-serif;
    background-color: beige;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}