@import url("https://fonts.googleapis.com/css?family=Aleo");

footer {
    font-family: "Aleo", sans-serif;
    background-color: beige;
    text-align: center;
    left: 0;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;

    width: 100%;
}